{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header_text %}
{% endblock header_text %}


{% block header_poster %}
{% endblock header_poster %}


{% block main %}
<main>
    <section class="category_products">
        <div class="container">
            <div class="row">
                {% for product in products %}
                {% include 'store/components/_product_card.html' %}

                {% empty %}

                <h2 class="text-center "> Нету избранных товаров</h2>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock main %}
